flask
torch
transformers
sentence-transformers
langchain
langchain-core
langchain-community
langchain-chroma
langchain-huggingface
chromadb
gunicorn
python-dotenv
huggingface-hub
accelerate
psycopg2-binary
Flask-SQLAlchemy
Flask-Migrate
celery
redis
pypdf
jq