HUGGING_FACE_TOKEN="hfDyWAqNgwbVU"

DB_USER="ai"
DB_PASSWORD="ai"
DB_HOST="localhost"
DB_PORT="5432"
DB_NAME="telecom"

CELERY_BROKER_URL="redis://localhost:6379/0"
CELERY_RESULT_BACKEND="redis://localhost:6379/0"
